#navbar {
  display: flex;
  flex-direction: row;
}

#navbar a {
  color: var(--color-white);
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease;
}

#navbar a:hover {
  cursor: pointer;
  color: var(--color-navbar-hover);
}